<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <title>Event List - EVO</title>
</head>

<body>

  <div class="sidebar" style="display: none" id="sidebar">
    <a class="menu-collapse-btn" id="menu-btn"><i class="fa fa-bars"></i> Menu</a>
    <div class="sidebar-header">
      Hello, Yessika
    </div>
    <div class="sidebar-content">
      <ul class="navigations">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/events"><i class="fa fa-lightbulb-o"></i> Events</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i> My Tickets</a></li>
        <li><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
        <li><a href="#"><i class="fa fa-comment"></i> Reviews</a></li>
        <li><a href="/promotions"><i class="fa fa-smile-o"></i> Promotions and Deals</a></li>
        <li><a href="#"><i class="fa fa-usd"></i> Sells Your Ticket</a></li>
      </ul>
    </div>
  </div>

  <div class="container" id="container">

    <!-- Header -->
    <div class="row">
      <div class="header clearfix">
        <div class="pull-left menu-container">
          <ul class="menu">
            <li><a href="#" id="toggle-btn"><i class="fa fa-bars"></i></a></li>
            <li><a href="/"><i class="fa fa-home"></i></a></li>
          </ul>
        </div>
        <div class="pull-right main-logo">
          <img class="logo" src="/static/images/logo-evo.jpg" alt="evo-logo">
        </div>
      </div>
    </div>

    <hr>

    <!-- Content -->
    <div class="row receipt-container">

      <div class="col-md-12 receipt-box">
        <div class="receipt-title">Personal Data</div>
        <div class="row receipt-row">
          <div class="col-xs-5">First Name</div>
          <div class="col-xs-7">Ken</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Last Name</div>
          <div class="col-xs-7">Pranata</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Phone Number</div>
          <div class="col-xs-7">08571234234</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Email</div>
          <div class="col-xs-7">kenbloblo@mail.com</div>
        </div>
      </div>

      <div class="col-md-12 receipt-box">
        <div class="receipt-title">Ticket Information</div>
        <div class="row receipt-row">
          <div class="col-xs-5">Event Name</div>
          <div class="col-xs-7">Galih & Ratna Concert</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Venue</div>
          <div class="col-xs-7">Front 123</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Time</div>
          <div class="col-xs-7">20 March 2017 20:20</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-12">Tickets</div>
          <div class="pre-ticket">
            <div class="col-xs-5 pre-ticket-title">Regular</div>
            <div class="col-xs-7">2 x Rp. 600.000</div>
          </div>
          <div class="pre-ticket">
            <div class="col-xs-5 pre-ticket-title">VIP</div>
            <div class="col-xs-7">2 x Rp. 1.200.000</div>
          </div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Total</div>
          <div class="col-xs-7">Rp. 12.000.000</div>
        </div>
      </div>

      
      <div class="col-md-12 receipt-box">
        <div class="receipt-title">Payment Method</div>
        <div class="row receipt-row">
          <div class="col-xs-5">First Name</div>
          <div class="col-xs-7">Ken</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Last Name</div>
          <div class="col-xs-7">Pranata</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Phone Number</div>
          <div class="col-xs-7">08571234234</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Email</div>
          <div class="col-xs-7">kenbloblo@mail.com</div>
        </div>
      </div>
      
    </div>

  </div>

  <footer>
    <div class="copyright">Create by Evo 2017</div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/static/sidebar.js"></script>
</body>

</html>