<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <title>Event List - EVO</title>
</head>

<body>

  {% include 'evo_mobile/sidebar.html' %}

  <div class="container" id="container">

    <!-- Header -->
    <div class="row">
      <div class="header clearfix">
        <div class="pull-left menu-container">
          <ul class="menu">
            <li><a href="#" id="toggle-btn"><i class="fa fa-bars"></i></a></li>
            <li><a href="/"><i class="fa fa-home"></i></a></li>
          </ul>
        </div>
        <div class="pull-right main-logo">
          <img class="logo" src="/static/images/logo-evo.jpg" alt="evo-logo">
        </div>
      </div>
    </div>

    <hr>

    <!-- Content -->
    <div class="row receipt-container">

      <div class="col-md-12 receipt-box">
        <div class="receipt-title">Personal Data</div>
        <div class="row receipt-row">
          <div class="col-xs-5">First Name</div>
          <div class="col-xs-7">{{ user.first_name }}</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Last Name</div>
          <div class="col-xs-7">{{ user.last_name }}</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Phone Number</div>
          <div class="col-xs-7">{{ user.phone }}</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Email</div>
          <div class="col-xs-7">{{ request.user.email }}</div>
        </div>
      </div>

      {% csrf_token %}
      {% load humanize %}

      <div class="col-md-12 receipt-box">
        <div class="receipt-title">Ticket Information</div>
        <div class="row receipt-row">
          <div class="col-xs-5">Event Name</div>
          <div class="col-xs-7">{{ event.name }}</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Venue</div>
          <div class="col-xs-7">Front 123</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Time</div>
          <div class="col-xs-7">{{ event.start_date }}</div>
        </div>
        <div class="row receipt-row">
          <div class="col-xs-12"><strong>Tickets</strong></div>
          {% for t in tickets %}
          <div class="pre-ticket">
            <div class="col-xs-5 pre-ticket-title">{{ t.ticket.name }} Ticket</div>
            <div class="col-xs-7">{{t.quantity}} x Rp. {{ t.ticket.price|floatformat|intcomma }}</div>
          </div>
          {% endfor %}
        </div>
        <div class="row receipt-row">
          <div class="col-xs-5">Total</div>
          <div class="col-xs-7">Rp. {{ total|floatformat|intcomma }}</div>
        </div>
      </div>

      
      <div class="col-md-12 receipt-box">
        <div class="receipt-title">Payment Method</div>
        <form action="/save_receipt" method="POST" class="mt-20 clearfix">
          <div class="payment-field col-xs-6">
            <input type="radio" name="payment" value="BCA">
            <img src="/static/images/bca.png" alt="logo bca">
          </div>
          <div class="payment-field col-xs-6">
            <input type="radio" name="payment" value="MANDIRI">
            <img src="/static/images/mandiri.png" alt="logo mandiri">
          </div>
          <div class="payment-field col-xs-6">
            <input type="radio" name="payment" value="VISA">
            <img src="/static/images/visa.png" alt="logo visa">
          </div>
          <div class="payment-field col-xs-6">
            <input type="radio" name="payment" value="MASTERCARD">
            <img src="/static/images/master.png" alt="logo master">
          </div>
        
         <div class="payment-order"><strong>This is your Order ID {{ code }}</strong></div>
          <span class="payment-msg">Please note that you should complete your payment in 1x24 hour,
            or our system would cancle this order automatically
          </span>
          <div class="payment-agree">By click this button, i agree with <a href="">term and condition</a></div>

          <input type="hidden" name="event" value="{{ event.id }}">
          <input type="hidden" name="code" value="{{ code }}">
          <input type="hidden" name="total" value="{{ total }}">
          {% csrf_token %}
          <button class="btn btn-primary next-btn" type="submit">Buy Ticket</button>
        </form>
      </div>
      
    </div>

  </div>

  <footer>
    <div class="copyright">Create by Evo 2017</div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/static/sidebar.js"></script>
</body>

</html>